.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* dark transparent overlay */
    backdrop-filter: blur(5px);
    /* blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-wrapper {
    position: relative;
    width: 500px;
    max-width: 90%;
}

.popup-title-top {
    position: absolute;
    top: -25px;
    left: 0;
    color: #999;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.popup-content {
    background: #ffffff;
    border-radius: 15px;
    padding: 40px 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
}

.btn-close-popup {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: 2px solid #003366;
    color: #003366;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    transition: all 0.2s ease;
}

.btn-close-popup:hover {
    background-color: #f0f4f8;
}

.popup-body h3 {
    color: #003366;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    margin-bottom: 25px;
    line-height: 1.4;
    font-weight: 700;
}

.popup-divider {
    border: 0;
    border-top: 2px solid #dba649;
    width: 80%;
    margin: 0 auto 35px;
}

.popup-footer {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.btn-yakin {
    background-color: #fcf4e4;
    color: #cc0000;
    border: 2px solid #cc0000;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    transition: all 0.3s ease;
    min-width: 120px;
}

.btn-yakin:hover {
    background-color: #feebe8;
}

.btn-tidak {
    background-color: #e0ac4d;
    color: #003366;
    border: 2px solid #a87e35;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    transition: all 0.3s ease;
    min-width: 120px;
}

.btn-tidak:hover {
    background-color: #d19f46;
}